---
const pageTitle = "fuji620について";
const skills = ["python", "AWS", "API", "自然言語処理"];
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
      h1 {
        color: cadetblue;
        font-size: 4reml;
      }
      .skill {
        color: rgb(12, 224, 83);
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <a href="/my-blog">成長日記！</a>
    <a href="./blog">自己紹介</a>
    <h1>{pageTitle}</h1>
    <h2>僕がブログをやる理由</h2>

    <p>
      未経験からプログラマーになるために日々勉強したことをアップして、アウトップットすることでより理解を深め企業にアピールすること。
    </p>

    <p>今まで勉強してきたこと↓</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </body>
</html>