---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>なるによるなるのためのサイト</title>
  </head>
  <body>
    <h1>選択してね</h1>
    <a href="./about/">自己紹介</a>
    <a href="./blog/">成長日記</a>
  </body>
</html>
